{% extends "admin/base.html" %}
{% load static %}
{% load templatetags %}

{% block extrastyle %}
    <link href="{% static 'monitoramento/css/ferramentas.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="tipos">
    {% for tipo in tipos_monitoramento %}
        <h2>{{ tipo }}</h2>
        <ul class="ferramentas">
            {% for monitoramento in tipo.monitoramento_set.all %}
            <li>
                <div class="ferramenta">
                    <a href="{{ monitoramento.url }}" target="_blank">           
                        <img src="{% static 'monitoramento/images/' %}{{monitoramento.logo}}">
                        <span>{{ monitoramento.nome }}</span>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

</div>
{% endblock %}